@import url('https://fonts.googleapis.com/css?family=Rancho');
// Default browser styles reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
a{
  text-decoration: none;
  color: #FFF;
}
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Rancho', cursive;
}

// Main part of the site with slider
.main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  nav {
    height: 15vh;
    width: 100%;
    background-color: rgba(199, 202, 199, 0.48);
    position: fixed;
    img {
      height: 13vh;
      margin-left: 4rem;
      padding-top: 1vh;
    }
  }
  .slider {
    height: 100vh;
      h1 {
        color: #FFF;
        font-size: 4rem;
      }
    }
}
//
.slides {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.slide {
  display: none;
  img{
    width: 100%;
  }
}
.slide.slide--active {
  display: block;
}
.toggle {
  background: blue;
  color: white;
  display: block;
  padding: 20px;
  position: absolute;
  top: 50%;
}
.toggle-prev {
  left: 0;
}
.toggle--next {
  right: 0;
}
.pagination {
  margin: 20px;
  text-align: center;
}
.pager {
  background-color: #727272;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin: 10px;
  overflow: hidden;
  text-indent: -9000px;
  white-space: nowrap;
  width: 20px;
}
.page--active{
  background-color: rgba(61,61,61,0.5);
}
