@import url('https://fonts.googleapis.com/css?family=Rancho');

// Default browser styles reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  //border: 1px solid red;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
a{
  text-decoration: none;
  color: #000;
}
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
*{
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-family: 'Rancho', cursive;
}

// Navigation
nav {
  height: 8vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.71);
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  .logo{
    width: 20vw;
    img {
      height: 8vh;
    }
  }
  .nav-bar{
    width: 70vw;
    ul{
      display: flex;
      justify-content: space-around;
    }
    li{
      display: inline-block;
      a{
        color: #ffffff;
        font-size: 4vw;
        line-height: 8vh;
        letter-spacing: 1px;
      }
    }
  }
}

// Main part of the site with slider
.main{
  margin-top: 8vh;
  width: 100%;
  .slider {
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
    .slide {
      display: none;
      .sliderImg {
        background: no-repeat center center;
        background-size: cover;
        width: 100vw;
        height: 92vh;
        //padding-top: 56.25%;
        display: flex;
        justify-content: center;
        animation-name: zoomIn;
        animation-duration: 2s;
        animation-fill-mode: both;
        @keyframes zoomIn {
          from {
            opacity: 0;
            transform: scale3d(1.3, 1.3, 1.3);
          }
          50% {
            opacity: 1;
          }
        }
        .slider-text{
          font-size: 3rem;
          letter-spacing: 1px;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.2);
          width: 100%;
          height: 92vh;
          display: flex;
          justify-content: center;
          h2{
            align-self: center;
            text-align: center;
            strong{
              font-weight: 600;
            }
          }
        }
      }
    }
    .slide--active {
      display: block;
    }
      .pagination {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8vh;
        background-color: rgba(61, 61, 61, 0.49);
        .pager {
          background-color: rgba(52, 52, 52, 0.71);
          border: 2px solid #292929;
          border-radius: 50%;
          margin: 7px;
          height: 8px;
          width: 8px;
          align-self: flex-end;
          display: inline-block;
          z-index: 4;
        }
        .page--active {
          background-color: rgba(182, 175, 188, 0.5);
          border: 2px solid #ffffff;
        }
      }
    .toggle--prev, .toggle--next {
      width: 10%;
      height: 100%;
      display: flex;
    }
    .controls {
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 3;
      position: absolute;
      bottom: 0;
      height: 100%;
    }
  }
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.article{
  width: 275px;
  height: 300px;
  margin-top: 3rem;
  border: 1px solid black;
  background: no-repeat center center;
  background-size: cover;
}
.article-page{
  margin-top: 5rem;
  h1{
    text-align: center;
    margin: 2rem 0;
  }
}
.footer{
  margin-top: 3rem;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.71);
  width: 100%;
  height: 10vh;
  color: #FFF;
}
@media only screen and (max-width : 992px) {
  .toggle {
    display: none;
  }
}
@media only screen and (min-width : 992px) {
  .toggle {
    align-self: center;
    width: 100%;
  }
  svg{
    display: block;
    margin: 0 auto;
  }
}
.wild{
  margin-top: 10rem;
}